html,
body {
  overflow-x: hidden;
}

.reactCode {
  background-color: rgba(255, 255, 255, 0.1); /* transparent white */
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.homepage_bg {
  background-color: white;
  background: url("../src/assets/Images/frame.png");
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #ffffff;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #ffffff;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}

.label-style {
  font-size: 14px;
  color: #f1f1f1; /* Adjust to your "richblack-5" value */
}

.form-style {
  border-radius: 0.5rem;
  background-color: #2c2c2c;
  padding: 0.75rem;
  font-size: 16px;
  line-height: 24px;
  color: #f1f1f1;
  box-shadow: 0 1px 0 0 rgba(165, 165, 165, 0.5);
  min-width: 10px;
}

.form-style::placeholder {
  color: #9ca3af;
  padding-left: 4px;
}

.form-style:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
